* {
  scroll-margin-top: 4.5rem;
}

/* ....... general .......*/
body {
  background-color: #fdfcfa;
}

h2 {
  font-weight: 600;
  letter-spacing: 1px;
  font-family: 'EB Garamond', serif; 
  color: #444444;
}

h3 {
  font-weight: 500;
  letter-spacing: 1px;
  font-family:'EB Garamond', serif; 
  color: #444444;
}

.primarytextcolor {
  color: #e5dfd2 ;
}

.greytextcolor {
    color:#808080;
}

.pink-transition {
  background: linear-gradient(45deg, #a8445e, #874c62);
}

.green-transition {
  background:linear-gradient(45deg, #8EBE94, 
  #1f561f);
}

hr {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  border-width: 0.2em;
  color: #a8445e;
  width: 80%;
  border-style: solid;
}

/* ....... Navbar .......*/
.navbar-toggler-icon {
  color:#e5dfd2;
}

.navbar {
  background-color: #874c62;
}

.navbar-nav {
  font-size: 16px;
  letter-spacing: 1.5px;
  font-family: 'EB Garamond', serif; 
}

#shield-logo {
  width: 45px;
  height: 46px; 
}

.nav-link {
  color: #e5dfd2;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'EB Garamond', serif; 
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: #e5dfd2;
  font-family: 'EB Garamond', serif; 
}

.navbar-brand:hover {
  color:#8EBE94;
}

.nav-link:hover {
  border-bottom: 1px solid #8EBE94;
  color:#8EBE94 !important;
}

#banner {
  padding-left: 0;
  padding-right: 0;
}

#welcome {
  background-color: rgba(113, 106, 104, 0.4);
  position:absolute;
  top:25%;
  left:7%;
  border: 10px solid rgba(218, 165, 32, 0.4);
  font-family: 'EB Garamond', serif; 
 }

#welcome a {
  text-decoration: none;
  color: #ebe1cd ;
}

#welcome h2 {
  font-weight: 600;
  font-size: 5rem;
}

#welcome p {
  font-size: 2.5rem;
}

#welcome i {
  color:#a8445e;
  font-weight: bold;
  background-color: rgba(68,68,68,0.5);
}

#hr {
  width:80%;
}

/* ....... hero-image-text .......*/
#blurb {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 50px 50px 0px 50px;
  font-family: 'EB Garamond', serif; 
  color: #444444;
}

/* ....... explore-section .......*/
#explore {
  color:#666666;
  font-family: 'EB Garamond', serif; 
  font-size: 18px;
  font-weight: 500;
}

.carousel .carousel-item {
  transition-duration: 2s;
}

/* ....... changes the speed of transition effect .......*/
.carousel-item {
  transition: transform 2.5s ease-in-out;
}

/* ....... changes the speed of transition fade .......*/
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 2.5s;
}

.caption-bg-dark {
background-color:rgba(5, 5, 24, 0.1); 
}

.carousel-caption h4 {
  font-family: 'EB Garamond', serif; 
  font-weight: 700;
  color: #e5dfd2;
}

.carousel-caption p {
  font-family: 'EB Garamond', serif; 
  font-weight: 600;
  color: #ffffff;
}

iframe {
  width:100%;
  height: auto;
}

footer {
background-color: rgba(31,86,31,0.65);
min-height:150px;
margin: 0; 
}

footer p {
font-family: 'EB Garamond', serif; 
color:#526f52;
font-size: 60px;
font-weight: 500;
}

footer img {
  height: 200px;
  width: 300px;
}

/* ....... history of house.......*/

        /*.... overlay with text for image links ...*/
.parent {
    position: relative;
  }
  
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(16, 18, 16, 0.5);
    display: flex;
    opacity: 0;
    transition: .4s;
  }

  .overlay h3 {
    color:#ebe1cd;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'EB Garamond', serif; 
    text-align: center;
    padding: 1em;

  }
  
  .overlay:hover {
    opacity: 1;
  }

.history p {
  color: #666666;
  font-weight: 500;
  font-family: 'EB Garamond', serif;
  font-size:18px;
  }

.blockquote {
  background-color: rgba(168,68,94,0.15);
  border-radius: 10px ;
  }

 
 .blockquote p{
  color:#222222;
  font-family: 'EB Garamond', serif;
  font-size: 1.25rem; 
}

.history hr {
  width:80%;
}

figure img {
  background-size: cover;
  width:100%;
  height:auto;
}

.figure-image {
  background-color:rgba(82,111,82,0.9)
}

#restoration-scroll {
  background-color:rgba(82,111,82,0.9);
  color:rgba(255, 255, 255, 1);
  font-family:'EB Garamond', serif; 
  font-weight: 500;
  margin-top: 0;
  padding-top:0;
}

.figure-image figcaption {
  color:rgba(255, 255, 255, 1);
  font-family:'EB Garamond', serif; 
  font-weight: 500;
}

#altblockquote {
  background-color: rgba(135,76,98,0.2);
}

.history ul {
  background-color: antiquewhite;
  font-weight: 500;
  font-family: 'EB Garamond', serif; 
  padding: 2em
}

/* ....... contact page .......*/
#contact {
  background-image: url('../images/study-bg1.webp');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
}

form {
  background: rgba(1, 1, 1, 0.6);
}

.form-control {
  background: rgba(1, 1, 1, 0.3);
  color: #e5dfd2;
}

form label {
  color:#f3ecdd !important;;
}

::placeholder {
  color: #a8445e !important;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: #a8445e !important;
}

.text-muted {
  color: #874c62 !important;
}

input[type="text"], input[type="email"] {
  color:#000!important;
}

#contact button {
  background-color: #1f561f!important;
  border: 2px solid #526f52;
}

#contactpage h4 {
  font-weight: 500;
  font-family:'EB Garamond', serif; 
  letter-spacing: 1.5px;
  font-size: 2em;
  color: #ebe1cd;
}

#contactpage h2 {
  font-weight: 600;
  font-family:'EB Garamond', serif; 
  letter-spacing: 1.5px;
}

#contactpage img {
  opacity:0.1;
}

/* ....... media queries .......*/


/* ....... small mobiles eg.galaxy fold .......*/
@media only screen and (min-width: 260px) and (max-width: 320px) {
  .navbar-brand {
    font-size: 1rem;
    }
  #footertitle {
    font-size: 1.75rem;
    margin-bottom: 4rem;
    }
  body p {
    font-size: 16px;
    }
  .history-menu h3 {
    font-size: 18px;
    }
  .tickets {
    background-color:rgba(142,190,148,0.5);
    color:#222222;
    padding-top: 16px;
    padding-bottom: 16px;
    }
  iframe {
    height: 250px;
   }
  #welcome {
    display: none;
   } 
   form {
    margin-top: 10%;
  }
  #contact h2,h4 {
    text-align: center ;
  }
  #contact h2 {
    padding-top:30px !important;
    font-size: 2rem;
  }
  #contact h4 {
    font-size: 1.5rem;
  }
  iframe {
    height:180px;
  }
}


/* ....... mobile .......*/
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .tickets {
    background-color:rgba(142,190,148,0.5);
    color:#222222;
    padding-top: 16px;
    padding-bottom: 16px;
    }

  .navbar-brand {
  font-size: 1.25rem;
  }
  #contact h2,h4 {
    text-align: center ;
  }
  #contact h2 {
    padding-top:60px !important;
  }
  footer p {
    font-size: 30px;
  }
  #welcome {
   display: none;
  }
  .history p {
    font-size: 16px;
  }
  form {
    margin-top: 14%;
  }
  .history-menu h3 {
    font-size: 1.5em;
    padding:10px;
  }
  iframe {
    height: 225px;
  }
  }


@media only screen and (min-width: 481px) and (max-width: 767px) {
  #welcome {
    position:absolute;
    top:25%;
    left:15%;
    width: 200px;
    height:auto;
}
#welcome h2 {
  font-size: 1.25rem;
}
#welcome p {
  font-size: 14px;
}
figure {
  margin-block-start: 0;
  margin-block-end: 0;
}
form {
  margin-top: 7%;
}
#contact h2,h4 {
  text-align: center ;
}
#contact h2 {
  padding-top:65px !important;
}
.tickets {
  background-color:rgba(142,190,148,0.5);
  color:#222222;
  padding-top: 20px;
  padding-bottom: 20px;
  }
  iframe {
    height:180px;
  }
}

/* ....... tablet .......*/
@media only screen and (min-width: 768px) {
  #welcome {
    background-color: rgba(113, 106, 104, 0.4);
    position:absolute;
    top:25%;
    left:10%;
    width: 300px;
    height:auto; 
  }
  #welcome h2 {
    font-size: 1.5rem;
  }
  #welcome p {
    font-size: 20px ;
  }
  form {
    margin-top: 4%;
  }
  #contact h2,h4 {
    text-align: center ;
  }
  #contact h2 {
    padding-top:75px !important;
  }
  iframe {
    margin-top: 15px;
  }
}

/*........ ipad air .........*/
@media only screen and (min-width: 820px) {
  form {
    margin-top: 5%;
  } 
  #contact h2 {
    padding-top:100px;
  }
  iframe {
    height:240px;
    margin-top: 25px; 
  }
}

/*........ desktop .........*/
@media only screen and (min-width: 1024px) {
  #welcome {
    background-color: rgba(113, 106, 104, 0.4);
    position:absolute;
    top:25%;
    left:10%;
    width: 400px;
  }
  iframe {
    height: 180px;
  }
  #welcome h2 {
    font-size: 3rem;
  }
  #welcome p {
    font-size: 1.5rem ;
  }
  form {
    margin-top: 5%;
  } 
  #contact h2 {
    padding-top:85px !important;
  }
  .overlay {
    height: 300px;
    width: 300px;
  }
  .history-menu h3 {
    font-size: 2.5rem;
  }
  }

  /*........ larger screens .........*/
@media only screen and (min-width: 1280px) {
  #welcome {
    background-color: rgba(113, 106, 104, 0.4);
    position:absolute;
    top:28%;
    left:10%;
    width:500px;
  }
  #welcome h2 {
    font-size: 3rem;
  }
  #welcome p {
    font-size:2rem ;
  }
  form {
    margin-top: 4%;
  } 
  #contact h2 {
    padding-top:80px !important;
  }
  .history-menu img {
    width:400px;
    height:400px;
  }
  .history-menu h3 {
    font-size: 3rem;
  }
  .overlay {
    width: 400px;
    height: 400px; 
  }
}
