/* ....... general .......*/
body {
  background-color: #fdfcfa;
}

h2 {
  font-weight: 600;
  letter-spacing: 1px;
}

.primarytextcolor {
  color: ;
}

.secondarytextcolor {
}

.metallic-gold {
  background: linear-gradient(45deg, #a8445e, #874c62);
}

hr {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  border-width: 0.2em;
  color: #a8445e;
  width: 80%;
  border-style: solid;
}

/* ....... Navbar .......*/
.navbar-toggler-icon {
  color:#e5dfd2;
  border: 1px solid #e5dfd2;
}

.navbar {
  background-color: #874c62;
}

.navbar-nav {
  font-size: 16px;
  letter-spacing: 2px;
}

.nav-link {
  color: #e5dfd2;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 3px;
  color: #e5dfd2;
}


nav a:hover {
  border-bottom: 1px solid #e5dfd2;
  color:#8EBE94;
}




/* ....... hero-image-text .......*/
#blurb {
  background-color: #144a14;
  color: beige;
}
/* ....... hero-image-text .......*/

/* ....... explore-section .......*/

.carousel .carousel-item {
  transition-duration: 2s;
}

/* ....... changes the speed of transition effect .......*/
.carousel-item {
  transition: transform 2.5s ease-in-out;
}

/* ....... changes the speed of transition fade .......*/

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 2.5s;
}

/* ....... explore-section .......*/
