/* ....... general .......*/
body {
  background-color: #fdfcfa;
}

h2 {
  font-weight: 600;
  letter-spacing: 1px;
}

.primarytextcolor {
  color: #e5dfd2 ;
}

.secondarytextcolor {
}

.pink-transition {
  background: linear-gradient(45deg, #a8445e, #874c62);
}

.green-transition {
  background:linear-gradient(45deg, #8EBE94, 
  #1f561f);
}

hr {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  border-width: 0.2em;
  color: #a8445e;
  width: 80%;
  border-style: solid;
}

/* ....... Navbar .......*/
.navbar-toggler-icon {
  color:#e5dfd2;
  border: 1px solid #e5dfd2;
}

.navbar {
  background-color: #874c62;
  padding-left: 
}

.navbar-nav {
  font-size: 16px;
  letter-spacing: 2px;
  
}


/*.....cant seem to overwrite bootstrap padding here*/
.nav-link {
  color: #e5dfd2;
  text-transform: uppercase;
  
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 3px;
  color: #e5dfd2;
}


.navbar a:hover {
  border-bottom: 1px solid #8EBE94;
  color:#8EBE94;
}





/* ....... hero-image-text .......*/
#blurb {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 50px 50px 0px 50px;
}
/* ....... hero-image-text .......*/

/* ....... explore-section .......*/

.carousel .carousel-item {
  transition-duration: 2s;
}

/* ....... changes the speed of transition effect .......*/
.carousel-item {
  transition: transform 2.5s ease-in-out;
}

/* ....... changes the speed of transition fade .......*/

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 2.5s;
}

/* ....... explore-section .......*/


footer {
background-color: rgba(31,86,31,0.65);
min-height:150px;
margin: 0; 
}

footer img {
  height: 200px;
  width: 300px;
}

/* ....... explore-section .......*/

/* ....... history of house -image navigation links.......*/

.imagebg {
  background-color: rgba(31,86,31,0.15) 
}
  
.history a {
  text-decoration: none;
  color: #000;
}

/* ....... history of house -image navigation links end.......*/

/* ....... contact page .......*/

#contact {
  background-image: url('/assets/images/bookshelves.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  
  


}

form {
  background: rgba(1, 1, 1, 0.6);
}

.form-control {
  background: rgba(1, 1, 1, 0.3);
}
  



/* ....... media queries .......*/


@media only screen and (max-width: 480px) {
  .tickets {
    background-color:  #8EBE94;
  }
  .contact h2,h4 {
    text-align: center ;
  }
}
